
.text_centre {text-align:center;
}

header {font-weight: bold;
    font-size: 2em;
    border-bottom: 2px solid rgb(221, 221, 221) ;
    color: green;
    ;}

main {padding:20px;
    border:2px solid rgb(221, 221, 221);
    margin-top: 2em;}
img {padding: 1em;}







@media screen and (max-width: 700px) {
    article {min-width: 200%;
    }

    img {margin: auto;
        min-width: 100%
    };




}
